body {
  background-color: #dedede;
}

.businesscard {
  width: 400px;
  height: 600px;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 50px;
  padding-left: 8px;
  padding-top: 8px;
  box-shadow: 5px 5px 10px rgba(15, 15, 15, .075);
}

h1 {
  font-family: "Indie Flower", sans-serif;
}

.businesscard h2 {
  font-family: Montserrat, serif;
}

p {
  font-family: "Indie Flower";
}

.crazy {
  text-align: center;
  width: 300px;
  padding: 50px;
  margin: auto;
}
