html {

}

body {
  background-color: #a9a9a9;
}

.businesscard {
  width: 400px;
  height: 650px;
  background-color: #d3d3d3;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 50px;
  padding-left: 8px;
  padding-top: 8px;
  box-shadow: 5px 5px 10px rgba(15, 15, 15, .075);
}

figcaption {
  padding: 1rem;
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 8px;
  max-width: 15em;
  padding-left: 1rem;
}
