body {
  background-color: #dedede;
}

.businesscard{
  width: 400px;
  height: 900px;
  background-color: #ececec;
  text-align: center;
  margin: auto;
  border-radius: 2px;
  margin-bottom: 50px;
  padding-left: 8px;
  padding-top: 8px;
  box-shadow: 5px 5px 10px rgba(15, 15, 15, .075);
}

.businesscard h1 {
  font-family: Indie, serif;
}

.businesscard h2 {
  font-family: Flower, serif;
}

.homer {
  background-color: #009dff;
  width: 300px;
  padding: 50px;
  margin: 20px;
}

.marge {
  background-color: #7fff00;
  width: 300px;
  padding-left: 100px;
  margin: 20px;
}

.grid {
  background-color: #d4d4d4;
  width: 300px;
  padding: 50px;
  margin: 20px;
}
